@use '../../assets/mixins';
@use '../../assets/constants';

.search-suggestions {
    margin-top: 0.75em;
    width: 100%;
    padding: 0.5em;

    $color: rgba(150, 150, 150, 0.5);
    border: 1px solid $color;
    box-shadow: 0px 0px 5px $color;
    border-radius: 0.75em;

    &.loading {
        background-color: rgba(200, 200, 200, 0.2);
    }

    position: relative;
    .spinner {
        position: absolute;
        left: 50%;
        transform: translate(calc(-50% - 1em), -0.5em);
    }

    .list {
        list-style-type: none;
        min-height: 12em;
        max-height: 26em;
        overflow-y: auto;
        @include mixins.mixin-fancy-scrollbar(lightgray, 8px);

        .load-more-button {
            cursor: pointer;
            font-size: 0.875em;
            margin: 2.5em auto 1.5em auto;
            padding: 0.75em 1.5em;
            border: 1px solid gray;
            border-radius: 0.5em;
            color: white;
            $color: constants.$primary-color;
            background-color: $color;
            @include mixins.mixin-button-effect($color);
        }
    }

    .bottom-message {
        font-weight: bold;
        padding: 0.5em;
        border-top: 1px solid constants.$light-gray;
        background-color: lighten(constants.$light-gray, 4%);
    }
}
