@use '../../assets/constants';

#header {
    grid-area: header;
    background-color: constants.$primary-color;
    $header-color: white;
    color: $header-color;
    padding: 0.5em 1em 1em 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    .width-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .title {
        margin-bottom: 0.125em;
        .link {
            color: $header-color;
        }
    }

    .route-list {
        display: flex;
        list-style-type: none;
        .route-item {
            display: flex;
            margin: 0em 1.25em;
            text-align: center;
            color: $header-color;
            .link {
                transition: all 0.3s;
                border-bottom: 1px solid transparent;
                letter-spacing: 1px;
                &:hover,
                &.active {
                    border-bottom: 1px solid $header-color;
                }
                &.active {
                    pointer-events: none;
                }
            }
        }
    }
}

@media screen and (min-width: constants.$breakpoint-1) {
    #header {
        padding: 1em 0.75em;
        .width-container {
            flex-direction: row;
        }
        .title {
            margin: 0;
            font-size: 1.25em;
        }
    }
}
