@use './assets/constants';

#root {
    line-height: 1.5;
    text-align: center;
    min-height: 100vh;

    .width-container {
        max-width: 120em;
        margin: auto;
    }

    h1 {
        font-family: 'Times New Roman', Times, serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: lighter;
    }
    h2 {
        font-weight: bolder;
        font-style: italic;
        color: #838383;
        margin: 0.75em 0em 1.25em 0em;
        @media screen and (min-width: constants.$breakpoint-1) {
            font-size: 2em;
        }
    }
    a:visited {
        color: initial;
    }

    #main {
        grid-area: main;
        padding: 1.25em;
        padding-bottom: 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: radial-gradient(
            rgba(255, 255, 255, 1) 0%,
            rgba(250, 250, 250, 1) 50%,
            rgba(235, 235, 235, 1) 100%
        );
    }

    display: grid;
    grid-template:
        'header' min-content
        'main' minmax(30em, 1fr)
        'footer' min-content;
}
